<%- include('partials/header.ejs') %>
<%- include('partials/homenavbar.ejs') %>
    
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h1 class="display-4">Bem-vindo</h1>
            <p class="lead">Este é um simples blog do guia do programador.</p>
            <hr class="my-4">
            <p>Descricao detalhada.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a>
          </div>
        <hr>
        <% articles.forEach(article => { %>
           <div class="card">
               <div class="card-header">
                   <%= article.title %>
                </div>
               <div class="card-body">
                <a class="btn btn-success" href="/<%= article.slug %>">Ler artigo</a>
               </div>
           </div>
           <br>
        <%})%>

    </div>

<%- include('partials/footer.ejs') %>